/* Брейкпоинты*/
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;

/*Цвета*/
$violet: #6039aa;
$sea: #32d6bd;
$grey: #e7e6f4;
$light-grey: #f1f0f9;
$dark-grey: #999999;

/*Семейство шрифтов*/
$font-light: "Open Sans Light", "Arial", sans-serif;
$font-regular: "Open Sans Regular", "Arial", sans-serif;
$font-bold: "Open Sans Bold", "Arial", sans-serif;
